.container {
  padding: 40px;
  display: "flex";
  height: 100%;
}

.imageProfile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* object-fit: cover; */
  padding: 20px;
}

.imgageContainer {
  width: 300;
  height: 300;
}
