.headerContainer {
  background-color: rgb(110, 32, 126);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trademark {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.logo {
  width: 100px;
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.dropdown-menu {
  position: absolute;
  top: 25px;
  right: 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  z-index: 1000;
}
